@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-color: #ed143d;
    --secondary-color: #212529;
}

.bg-primary {
    background-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.border-primary {
    border: 1px solid var(--primary-color);
}

.border-t-primary {
    border-top: 1px solid var(--primary-color);
}

.border-b-primary {
    border-bottom: 1px solid var(--primary-color);
}

.border-l-primary {
    border-left: 1px solid var(--primary-color);
}

.border-r-primary {
    border-right: 1px solid var(--primary-color);
}

.border-secondary {
    border: 1px solid var(--secondary-color);
}

.border-t-secondary {
    border-top: 1px solid var(--secondary-color);
}

.border-b-secondary {
    border-bottom: 1px solid var(--secondary-color);
}

.border-l-secondary {
    border-left: 1px solid var(--secondary-color);
}

.border-r-secondary {
    border-right: 1px solid var(--secondary-color);
}

.slick-dots li{
    margin: 0px;
}

.slick-dots li button{
    padding: 0px;
}

.slick-dots li button:before{
    font-size: 10px;
}

.details-image::-webkit-scrollbar{
    display: none;
}

.about-bg{
    background-image: url('../../public/assets/about-bg.png');
    height: 100%;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}